.bread-crumb .container-fluid .container{
	padding: 5px;
}
.bread-crumb ul {
    margin: 1% 0;
    padding: 0;
    display: table;
}
.bread-crumb ul li{
list-style: none;
float: left;
margin: 0;
padding:0 5px;
}
.bread-crumb ul.icono{
padding:0 0px 0 25px;
position: relative;
}
.bread-crumb ul.icono li{
	position: static;
}
.bread-crumb ul li a {
    text-decoration: none;
    color: #000000;
    padding: 0 0px 0 0px;
    margin: 0 5px 0 0;
    text-align: left;
    vertical-align: top;
}
.bread-crumb ul li a:hover{
color: #cc0033;
}
.bread-crumb ul li span {
    font-family: "icomoon";
    font-size: 14px;
    height: 22px;
    left: 0;
    line-height: 22px;
    margin: -12px 0px 0 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 22px;
    font-style: normal;
    color: #ffffff;
    background-color: #000000;
    border-radius: 300px;
    padding: 0 0 0 0px;
}
.noticias{
	padding-top:10px;
	position: relative;
}
.noticias .main {
    float: left;
    height: auto;
    margin: 10px 0 10px 25px;
    min-height: 0;
    overflow: visible;
    width: 58%;
}
.noticias .main .noticia_destacada img {
    margin: 0 0 20px;
    width: 100%;
}
.noticias .main .noticia_destacada {
    display: table;
    margin: 0 0 15px;
}
.noticias .main .noticia_destacada a, .noticias .main .destacadas a {
    color:#000000;
	display: block;
}
.banner-space a{
	color:#000000;
}
.noticias .main .noticia_destacada h1 {
    color: #000000;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 10px;
    text-transform: none;
}
.noticias .main .noticia_destacada p {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}
.noticias .main .noticia_destacada a.readmore, .noticias .main .destacadas a.readmore, .banner-space a.readmore {
	color:#000000;
	font-weight:600;
	float:right;
}
.noticias .main .destacadas {
    margin: 0 -15px 35px;
}
.noticias .main .destacadas img {
    margin: 0 0 20px;
    width: 100%;
}
.noticias .main .destacadas h2, .noticias .main .destacadas h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    margin: 0 0 10px;
    text-transform: none;
}
.noticias .main .destacadas p {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}
.banner-space {
    background-color: #f5f0ef;
    display: table;
    margin: 30px 0 50px;
    padding: 20px 20px 20px 0;
    width: 100%;
}
.banner-space h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin: 0 0 10px;
    text-transform: none;
}
.banner-space h4 {
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 25px;
    text-transform: none;
    text-align: center;
}
.noticias .main .banner-space p {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}
.banner-space .contentimg {
    height: 270px;
    margin: -20px -15px -20px;
    overflow: hidden;
    width: 100%;
}
.noticias .main .banner-space img {
    height: 100% !important;
    width: auto;
    float: left;
}
.banner-space a.readmore {
    background-color: #79A52D;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    padding: 5px 20px;
    font-weight: 400;
    text-align: center;
}
.banner-space a.readmore:hover {
	text-decoration: none;
	box-shadow: 0 0 100px 0 rgba(0,0,0,0.1) inset;
}
.banner-space.new.color a.readmore:hover {
	text-decoration: none;
	box-shadow: 0 0 100px 0 rgba(255,255,255,0.1) inset;
}
.banner-space.new {
	position: relative;
	padding: 5% 5% 5% 40%;
}
.banner-space.new .contentimg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 35%;
	overflow: hidden;
	margin: 0;
}
.banner-space.new .contentimg img {
    transition: all 1s ease-in-out 0s;
	width: auto;
    height: 100%;
    margin: 0 0 0 0;
}
@supports (object-fit: cover) {
  .banner-space.new .contentimg img {
    object-fit: cover;
    object-position: center center;
	width: 100%;
  }
}
.banner-space.new.reborde {
	border:1px solid rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,1);
}
.banner-space.new.reborde .contentimg{
	border:0px solid rgba(0,0,0,0);
}
.banner-space.new.color {
	background-color: rgba(0,0,0,1.00);
}
.banner-space.new.color.corporate {
	background-color: rgba(204,0,51,1.00);
}
.banner-space.new.color.friendly {
	background-color: rgba(121,165,45,1.00);
}
.banner-space.new.color a.readmore{
border:1px solid #ffffff;
background-color:transparent;
}
.banner-space.new.color h3, .banner-space.new.color h3 a, .banner-space.new.color p, .banner-space.new.color p a {
	color:#ffffff;
}
.banner-space.new.espejo {
  padding: 5% 40% 5% 5%;
}
.banner-space.new.espejo .contentimg {
	left: auto;
	right: 0;
}
.banner-space.new.espejo a.readmore {
    float: left;
}
.banner-space.new.espejo.reborde .contentimg{
	border-left: 0px solid rgba(0,0,0,0)
}
.banner-space.new:hover .contentimg img{
	object-position: left top;
	transform: scale(1.1);
}
.noticias .main .manuales img {
    margin: 0 0 20px;
    width: 100%;
}
.noticias .main .manuales p {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}
a.btn-line {
    background-color: white;
    border: 1px solid #000000;
    border-radius: 50px;
    color: #000000;
    float: right;
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0;
    padding: 7px 15px 9px 15px;
    position: relative;
    text-align: center;
    line-height: 19px;
}
a.btn-line:hover {
    text-decoration:none;
	box-shadow: 0 0 100px 0 rgba(0,0,0,0.1) inset;
}
.noticias .main .manuales a.btn-line{
	margin-right: 15px;
}
.noticias .main .manuales a.botones {
    text-transform: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    min-width: 0;
    width: 100%;
    float: none;
    display: table;
    margin: 0 0 20px 0;
    padding: 10px 5px 10px 35px;
    text-align: left;
	z-index: 1;
}
iframe.feisbuc {
    margin: 20px auto 20px !important;
	overflow: hidden;
	display: table;
	float: none;
	width: 315px;
}
iframe.twitter-timeline{
	margin: 20px 0 20px 0 !important;
}
.trending {
    background-color: rgba(214, 233, 245, 0.6);
    padding: 30px 30px;
    margin: 10px 0 10px 0;
    display: table;
}
.trending p {
    text-transform: uppercase;
    color: rgba(0,0,0,0.6);
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 30px 0;
    position: relative;
    padding: 0 0 10px 0px;
    width: 100%;
    display: table;
    float: none;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
    font-weight: 400;
}
.noticias.interior .main .trending a, .trending a {
    color: #000000;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 0px 0;
    position: relative;
    padding: 10px 0 15px 30px;
    width: 100%;
    display: table;
    float: none;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
    font-weight: 400;
}
.trending a:last-of-type {
border-bottom: 0px dotted rgba(0,0,0,0);	
}
.trending a:hover {
	background-color: rgba(255,255,255,0.8);
}
.trending a:hover:before {
	color: rgba(0,0,0,0.8);
}
.trending a::before {
    color: rgba(0,0,0,0.3);
    content: "";
    font-family: 'icomoon';
    font-size: 20px;
    width: 19px;
    height: 20px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    left: 5px;
    top: 11px;
    vertical-align: middle;
    text-align: center;
}
.sidebar {
    box-shadow: 1px 0 0 #e9eae9 inset;
    display: table;
    float: right;
    margin: 10px 0 0;
    width: 27%;
}
.dark-side {
    box-sizing: border-box;
    display: table;
    margin: 0;
    padding: 30px 20px 20px;
    width: 100%;
}
.dark-side img {
    width: 100%;
    margin: 0 0 10px 0;
}
.dark-side h4 {
    color: #cc0033;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 0 0 10px;
    text-transform: uppercase;
    letter-spacing: -0.4px;
}
.dark-side h5 {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
}
.dark-side a {
    color: #000000;
}
.dark-side a.readmore {
    color: #000000;
    float: right;
    font-weight: 600;
}
.dark-side ul {
    margin: 0 0 5px;
    padding: 0 0 10px 25px;
}
.dark-side ul li {
    color: #000000;
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 10px 0;
    list-style: none;
    position: relative;
    padding: 0;
}
.dark-side.encuentros ul li:before {
    color: #666666;
    content: "";
    font-family: "Icomoon";
    font-size: 19px;
    font-style: normal;
    font-weight: normal;
    left: -25px;
    line-height: 1;
    position: absolute;
    top: 4px;
    vertical-align: top;
	text-decoration: none;
}
.dark-side.encuentros.saladeprensa ul li:before {
    content: "";
}
.dark-side.encuentros ul li:hover:before {
	color: #000000;
	text-decoration: none;
}
.dark-side.encuentros ul li:hover {
	text-decoration: none;
}
.iconito{
padding: 12px 15px 12px 39px;
text-align: left;
position: relative;
}
.iconito span {
    transition:all 0.5s ease-in-out 0s;
	border-radius: 100px;
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    margin: -17px 10px 0 0;
    padding: 0;
    text-align: center;
    width: 34px;
    position: absolute;
    left: 5px;
    top: 50%;
    font-weight: normal;
    font-family: 'icomoon';
}
.iconito:hover span {
	transform: rotateY(180deg);
}
.aire{
	padding: 20px 20px 15px 20px;
	background-color: #f2f2f2;
	margin: 0;
}
.aire h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 26px;
    margin: 0 0 5px;
    text-transform: uppercase;
    text-align: center;
    background: -webkit-linear-gradient(90deg, #cc0033, #68011b 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aire p {
    text-transform: uppercase;
    text-align: center;
    color: rgba(0,0,0,0.8);
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    margin: 0 0 0px;
}
.aire .ribbon{
	background-color:#cc0033;
	color:#ffffff;
	padding: 5px 10px 5px 10px;
	text-align: center;
	margin: 10px -20px 10px -20px;
}
.aire .ribbon p, .aire .ribbon a{
	color:#ffffff;
	text-decoration: none;
}
.aire .ribbon a{
	box-shadow: 0 0 200px 0 rgba(0,0,0,0.1) inset;
}
.aire .ribbon a:hover{
	box-shadow: 0 0 200px 0 rgba(0,0,0,0.2) inset;
}
.aire .ribbon .iconito {
    padding: 8px 15px 8px 39px;
    text-align: left;
    position: relative;
    border-radius: 200px;
    display: inline-block;
}
.filtro-noticias {
	transition:all 0.3s ease-out 0s;
	background-color: rgba(255,255,255,1.00);
    width: 100px;
    border: 1px solid #cccccc;
    display: block;
    height: auto;
    float: left;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
}
.filtro-noticias span {
	transition:all 0.3s ease-out 0s;
	font-family: 'icomoon';
    font-size: 40px;
    display: table;
    width: 100%;
    margin: 0 0 5px 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 10px 0 0 0;
}
.filtro-noticias a {
    transition: all 0.3s ease-out 0s;
    text-decoration: none;
    text-align: center;
    width: 100px;
    display: table;
    margin: 0 0 0px 0;
    padding: 5px 5px;
    font-weight: 400;
    color: rgba(0,0,0,1);
}
.filtro-noticias a:last-of-type {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}
.filtro-noticias ul li a{
	text-transform:none;
	font-weight: 300;
	color: rgba(0,0,0,0.8);
}
.filtro-noticias ul li a:last-of-type{
	text-transform:none;
	font-weight: 400;
	color: rgba(0,0,0,0.8);
}
.filtro-noticias ul {
    width: 100px;
    margin: 0 0 5px 0;
    padding: 15px 0 0 0;
    display: block;
    list-style: none;
    position: relative;
}
.filtro-noticias ul::before {
    transition:all 0.3s ease-out 0s;
	content: '';
    width: 10px;
    height: 10px;
    border-top: 10px solid rgba(214,233,245,1.00);
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: calc(50% - 10px);
    top: -10px;
    margin: 0 0 0 0;
}
.filtro-noticias a.activo + ul::before {
	transition:all 0.3s ease-out 0s;
	top: 0;
}
.filtro-noticias a.activo, .filtro-noticias a:focus{
	background-color:rgba(214,233,245,1.00);
}
.filtro-noticias a:hover{
	background-color:rgba(214,233,245,0.6);
}
.filtro-noticias a.activo:hover, .filtro-noticias a:focus:hover{
	background-color:rgba(214,233,245,1.00);
}
.filtro-noticias a.activo span, .filtro-noticias a:focus span{
	transition:all 1.0s ease-in 0.3s;
	transform:rotateY(360deg);
}
.filtro-noticias ul li a:hover{
	color: rgba(0,0,0,1);
}
.noticias .filtro-noticias .scrolly {
    transition: all 0.5s ease-in 0.3s;
    opacity: 0;
    text-align: center;
    font-family: 'icomoon';
    position: absolute;
    bottom: -20px;
    left: 5px;
    width: calc(100% - 10px);
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    display: block;
    color: #c03;
    border-top: 1px solid #ddd;
    box-shadow: 0 -13px 10px 5px rgba(255, 255, 255, 0.9);
}
.noticias.fijado .filtro-noticias .scrolly{
	opacity:1;
	bottom:0;
	cursor:pointer;
}
.noticias .filtro-noticias .scrolly.up{
	transform: rotate(180deg);
	top:-20px;
	bottom:auto;
}
.noticias.fijado .filtro-noticias .scrolly.up{
	opacity:1;
	top:0;
	bottom:auto;
}
.noticias.fijado .filtro-noticias .wrapper.ocultar .scrolly.up{
	opacity:0;
	cursor: default;
}
.noticias.fijado .filtro-noticias .wrapper.ocultar_down .scrolly:not(.up){
	opacity:0;
	cursor: default;
}
.noticias.fijado .filtro-noticias .wrapper.noflechas .scrolly{
	opacity:0;
	cursor: default;
}
.noticias.fijado .filtro-noticias .wrapper.noflechas a {
	padding: 5px 5px 5px 5px;
}
.noticias.fijado.fijado_abajo .filtro-noticias .wrapper.noflechas a {
	padding: 5px 5px 5px 5px !important;
}
.noticias .filtro-noticias .wrapper {
    transition: all 0.5s ease-in-out 0.3s;
    overflow: hidden;
    width: 100%;
    padding: 0px 0 0px 0;
    position: relative;
    height: calc(100% - 73px);
}
.noticias.fijado .filtro-noticias .wrapper {
    padding: 20px 0 20px 0;
}
.noticias.fijado .filtro-noticias .scroll_fino {
	overflow-x: hidden;
    height: 100%;
    width: 117px;
}
.noticias.fijado.fijado_abajo .filtro-noticias{
    position: absolute !important;
    top: auto !important;
	bottom:20px !important;
	height: auto !important;
	width: 100px !important;
}
.noticias.fijado.fijado_abajo .filtro-noticias .scroll_fino{
	overflow-x: visble;
    height: auto;
    width: 117px;
}
.buscanoticias {
    margin: 0 0 0 0;
	width: 100%;
	border-bottom:1px solid #cccccc;
	display: block;
}
.buscanoticias h3 {
    background-color: #536cc7;
    color: #ffffff;
    font-size: 10px;
    line-height: 13px;
    padding: 5px 5px 5px 5px;
    width: calc(100% + 2px);
    position: relative;
    margin: -1px 0 0 -1px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    height: auto;
}
.buscanoticias h3:before {
border-left: 8px solid transparent;
border-right: 8px solid transparent;
border-top: 8px solid #536cc7;
bottom: -7px;
content: "";
display: inline-block;
left: 50%;
margin: 0 0 0 -9px;
position: absolute;
right: 50%;
z-index: 1;
}
.buscanoticias .form-group {
    transition: all 0.5s ease-in-out 0s;
    position: relative;
    padding: 12px 0;
    margin: 0;
    min-height: 51px;
}
.buscanoticias .form-group input.form-control {
    transition: all 0.5s ease-out 0s;
    border-radius: 100px;
    background-color: rgba(0,0,0,0.05);
    border: 0px;
    width: 90%;
    margin: 0px 5% 0px 5%;
    padding: 6px 31px 6px 10px;
    line-height: 26px;
    font-size: 12px;
    height: 26px;
}
.buscanoticias .form-group input.form-control:focus{
	transition: all 0.5s cubic-bezier(.18,.89,.32,1.28) 0s;
	outline: 0;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 0px 4px rgba(66,133,244,0.4);
}
.buscanoticias .form-group input.form-control:focus + button{
	transition: all 1s cubic-bezier(.18,.89,.32,1.28) 0.3s;
	transform: rotateY(720deg);
	
}
.buscanoticias .form-group button {
    transition: all 0.5s ease-out 0s;
    font-family: 'icomoon';
    border-radius: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 28px;
    width: 28px;
    font-size: 14px;
    line-height: 25px;
    color: rgb(83, 108, 199);
    background-color: rgba(0,0,0,0);
    border: 2px solid rgba(255,255,255,0);
    position: absolute;
    top: calc(50% - 14px);
    left: calc(100% - 33px);
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
.buscanoticias button:hover{
	box-shadow: 0 0 100px 0px rgba(0,0,0,0.2) inset;
	color: #ffffff;
	border: 2px solid rgba(255,255,255,1);
}
.buscanoticias button:focus {
    outline: 0;
    box-shadow: 0 0 0px 4px rgba(66,133,244,0.4),0 0 100px 0 rgba(0,0,0,0.1) inset;
    border: 2px solid rgb(255, 255, 255);
	line-height: 22px; 

}
.buscanoticias.ampliado .form-group input.form-control {
    position: absolute;
	width: 200%;
	padding: 6px 10px 6px 10px; 
}
.buscanoticias.ampliado .form-group button {
	left: calc(210% + 4px);
	box-shadow: 0 0 100px 0 rgba(0,0,0,0.1) inset;
	background-color: #79A52D;
	color:#ffffff;
	border: 2px solid rgba(255,255,255,1);
}
.buscanoticias.ampliado .form-group button:hover {
	background-color: rgb(83, 108, 199);
}
.banner-space.new.sinfoto {
    padding: 5% 5% 5% 5%;
}
.banner-space.new.sinfoto .contentimg {
    display: none;
}
.noticias .main .resultado {
    transition: all 0.3s ease-in-out 0s;
	margin: 0 0 10px;
    padding: 20px 20px 20px 20px;
    position: relative;
    float: left;
    width: 100%;
    display: table;
    border: 1px dotted #f2f2f2;
}
.noticias .main .resultado h3 {
    color:#000000;
	line-height: 22px;
	padding: 0 0px 0 0;
	display: table;
}
.noticias .main .resultado p {
    transition: all 0.3s ease-in-out 0.6s;
	color: #999999;
    line-height: 19px;
	padding: 0 0px 0 0;
	display: table;
}
.noticias .main .resultado:hover p {
    color: #666666;
}
.noticias .main .resultado:hover, .noticias .main .resultado:focus{
background-color:#f5f0ef;
text-decoration: none;
}
.noticias .main .resultado:before {
    transition: all 0.3s ease-in-out 0.3s;
    border-radius: 10px;
    color: #000000;
	font-family: 'icomoon';
    content: '';
    font-size: 30px;
    height: 24px;
    line-height: 19px;
    margin: 0 0 0 0px;
    padding: 0 0 5px 0;
    position: absolute;
    right: -10px;
    text-shadow: -2px 1px 0 #f5f0ef;
    top: -1px;
    width: 20px;
    display: inline-block;
    text-align: center;
	transform: scale(0);
}
.noticias .main .resultado:hover:before {
    transform: scale(1);
	background-color: #f5f0ef;
}
.noticias .main p.seccion {
    border-bottom: 1px solid #e8e4e4;
    color: #bbb8b8;
    font-size: 16px;
    line-height: 19px;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
}
.noticias .main .resultado img {
    transition: all 0.3s ease-in-out 0s;
    float: left;
    width: 27%;
    height: auto;
    margin: 0 10px 0px 0;
    padding: 0;
    border: 2px solid rgba(255,255,255,0.9);
    background-color: #f2f2f2;
    border-radius: 0;
    -webkit-filter: grayscale(30%);
    text-align: center;
}
.noticias .main .resultado:hover img {
	-webkit-filter: grayscale(0%);	
}
.paginacion{
	width: 100%;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 0;
	display: inline-block;
}
.paginacion a{
	text-align: center;
	margin: 0 0 0px 0;
	padding: 3px 5px;
	text-transform: uppercase;
	color: #000000;
	position: relative;
}
.paginacion a:hover:first-of-type:before {
	left: 0px;	
}
.paginacion a:hover:last-of-type:after {
	right: 0px;	
}
.paginacion a:first-of-type{
	padding: 0 5px 0 20px;
}
.paginacion a:first-of-type:before{
	font-family: 'icomoon';
	top: 50%;
	content: "";
	left: 3px;
	position: absolute;
	transition: all 0.3s ease-in-out 0s;
	width: 14px;
	display: block;
	font-size: 14px;
	line-height: 14px;
	height: 14px;
	margin: -7px 0 0 0;
	padding: 0;
	cursor: pointer;
	transform: rotate(90deg);
}
.paginacion a:last-of-type{
	padding: 0 20px 0 5px;
}
.paginacion a:last-of-type:after{
	font-family: 'icomoon';
	top: 50%;
	content: "";
	right: 3px;
	position: absolute;
	transition: all 0.3s ease-in-out 0s;
	width: 14px;
	display: block;
	font-size: 14px;
	line-height: 14px;
	height: 14px;
	margin: -7px 0 0 0;
	padding: 0;
	cursor: pointer;
	transform: rotate(-90deg);
}
.paginacion span {
    background-color: #fff;
    padding: 5px 5px;
    margin: 0 5px;
    color: #000;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 100px;
    width: 30px;
    display: inline-block;
    height: 30px;
}
.paginacion span:first-of-type {
    font-weight: 800;
}
.dark-side.buscanoticias .form-group input.form-control {
    width: 100%;
    margin: 0px 0 0px 0;  
}
.dark-side.buscanoticias .form-group button {
    right: 0;
	left: auto;
	top: calc(50% - 15px);
}
.dark-side.buscanoticias ul li.activo {
    font-weight: 600;
}
.dark-side.buscanoticias .form-group {
    margin: -10px 0 0px 0;
}
.dark-side.buscanoticias {
    border-bottom: 0px solid #cccccc;
}
.noticias.invertir .main{
	float: right;
}
.noticias.invertir .sidebar {
    box-shadow: -1px 0 0 #e9eae9 inset;
	float: left;
}
.noticias.invertir .sidebar .dark-side:first-of-type {
    padding: 0px 20px 20px;
}
.noticias.invertir .main h1 {
    width: calc(100% - 227px);
}
@media (max-width: 480px) {
.bread-crumb ul li span {
    padding: 0 0 0 0px;
}
.bread-crumb ul li, .bread-crumb ul li a {
font-size: 12px;
}
.bread-crumb ul li a {
    margin: 0 3px 0 0;
}
.bread-crumb ul li {
    padding: 0 3px;
    position: relative;
}	
.mask { 
    width: 100%;
    height: auto;
	margin: 0 0 5px 0;
}
.noticias .main {
    margin: 10px 0 10px 0;
	width: 100%;
}
.sidebar {
    width: 100%;
	margin:0;
	padding:0;
	box-shadow:none;
}
.banner-space {
    padding: 15px 0 10px;
}	
.banner-space .contentimg {
    height: auto;
    margin: 0 0 10px;
}
.noticias .main .banner-space .contentimg img{
    width:100%;
}
.banner-space.new.v-mobile {
    padding: 5% 5% 5% 5%;
    padding-top: calc(130px + 5%);
}
.banner-space.new.v-mobile .contentimg {
    width: 100%;
    height: 130px;
}
.banner-space.new.reborde.v-mobile .contentimg {
    border-bottom: 0px solid rgb(0, 0, 0);
    border-left: 0px solid rgb(0, 0, 0);
    border-right: 0px solid rgb(0, 0, 0);
}
a.btn-line {
    float: none;
    margin: 0 auto 10px;
    display: table;
}
.noticias {
    padding-top: 0px;
}	
.noticias .main .manuales a.botones {
    padding: 10px 5px 13px 30px;
}	
.filtro-noticias {
    width: 100%;
    height: auto;
    border: 1px solid rgba(0,0,0,0);
	margin: 0;
}
.noticias.fijado .filtro-noticias {
    left: 0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.noticias .filtro-noticias .wrapper {
    height: 84px;
    overflow: hidden;
	padding: 0px 20px 20px 20px;
}
.noticias.fijado .filtro-noticias .wrapper {
    padding: 0px 20px 20px 20px;
}	
.noticias .filtro-noticias .scroll_fino {
    width: auto;
    white-space: nowrap;
    text-align: center;
    overflow-x: scroll;
}
.noticias.fijado .filtro-noticias .scroll_fino {
    overflow-x: scroll;
    height: auto;
    width: auto;
}
.filtro-noticias a {
    min-height: 81px;
    min-width: 100px;
    width: auto;
    display: table-cell;
    vertical-align: middle;
    height: 81px;
}
.buscanoticias {
    display: table;
    padding: 6px 0 0px 0;
    position: relative;
	border-bottom: 0;
}
.buscanoticias h3::before {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 8px solid #536cc7;
    bottom: 0;
    left: auto;
    margin: 0 0 0 0;
    right: -14px;
    top: calc(50% - 8px);
    width: 8px;
    height: 8px;
}
.buscanoticias h3 {
    width: 100px;
    display: inline-block;
    padding: 7px 5px 7px 7px;
    position: absolute;
    left: 0;
    top: 6px;
    margin: 0;
    min-height: 27px;
    max-height: 27px;
	z-index: 1;
}
.buscanoticias .form-group {
    padding: 0px 0 0 99px;
    width: 100%;
    min-height: 26px;
}
.buscanoticias .form-group input.form-control {
    margin: 0;
    border-radius: 0 100px 100px 0;
    width: 100%;
    height: 27px;
    min-height: 27px;
    max-height: 27px;
}
.noticias.fijado .buscanoticias .form-group input.form-control:focus{
	width:calc(100% - 4px);
}
.buscanoticias .form-group button {
    top: 0;
    left: auto;
	right: 0;
}
.noticias.fijado .buscanoticias .form-group input.form-control:focus + button{
	right: 4px;
}
.buscanoticias.ampliado .form-group input.form-control {
    position: relative;
	width: 100%;
	padding: 6px 31px 6px 10px; 
}
.buscanoticias.ampliado .form-group button {
	left: auto;
}
.noticias.fijado.fijado_abajo .filtro-noticias {
    width: 100% !important;
}
.noticias.fijado.fijado_abajo .filtro-noticias .scroll_fino {
    overflow-x: scroll;
    width: auto;
}
.filtro-noticias ul{
	transition: all 0.5s ease-out 0.3s;
	overflow: hidden;
	display: table-cell !important;
	max-width: 0;
	visibility: hidden;
	width: 0;	
}
.filtro-noticias ul::before {
    border-top: 10px solid transparent;
    border-left: 10px solid rgb(214, 233, 245);
    left: -10px;
    top: calc(50% - 10px);
}
.filtro-noticias a.activo + ul {
	visibility: visible;
	width: auto;
	max-width: 1000px;
	
}	
.filtro-noticias a.activo + ul::before {
    top: calc(50% - 10px);
	left: 0;
}
.filtro-noticias ul{
	display: table-cell;
	padding: 0 0 0 0;
}
.filtro-noticias ul li{
	display: table-cell;
	width: auto;
	min-width: 0;
	max-height: none;
}
.filtro-noticias ul li:first-of-type a {
    padding: 5px 5px 5px 15px;
}
.noticias.fijado .filtro-noticias ul li:first-of-type a {
    padding: 5px 5px 5px 15px;
}
.noticias.fijado .filtro-noticias .wrapper.noflechas ul li:first-of-type a{
	padding: 5px 5px 5px 15px;	
}	
.filtro-noticias ul li a {
    min-width: 0;
}
.noticias .filtro-noticias .scrolly, .noticias.fijado .filtro-noticias .scrolly {
    opacity: 1;
    bottom: 0px;
    cursor: pointer;
    transform: rotate(-90deg);
    right: -25px;
    width: 70px;
    background-color: #ffffff;
    top:36%;
    left: auto;
	box-shadow: -20px 0px 13px 10px rgba(255, 255, 255, 0.9);
	z-index: 1;
}
.noticias .filtro-noticias .scrolly.up, .noticias.fijado .filtro-noticias .scrolly.up {
    transform: rotate(90deg);
    top: 36%;
    bottom: auto;
    left: -25px;
    width: 70px;
    height: 20px;
    box-shadow: -20px 0px 13px 10px rgba(255, 255, 255, 0.9);
    background-color: #fff;
}
.noticias .filtro-noticias .wrapper.ocultar .scrolly.up {
    opacity: 0;
    cursor: default;
}
.noticias .filtro-noticias .wrapper.ocultar_down .scrolly:not(.up) {
    opacity: 0;
    cursor: default;
}
.noticias.invertir .main h1 {
    width: 100%;
}	
}