@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../fonts/SourceSansPro-Regular.eot');
  src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceSansPro-Regular.woff') format('woff'),
  url('../fonts/SourceSansPro-Regular.ttf')  format('truetype'),
  url('../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url('../fonts/SourceSansPro-Semibold.eot');
  src: url('../fonts/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceSansPro-Semibold.woff') format('woff'),
  url('../fonts/SourceSansPro-Semibold.ttf')  format('truetype'),
  url('../fonts/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-It';
  src: url('../fonts/SourceSansPro-It.eot?#iefix');
  src: url('../fonts/SourceSansPro-It.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceSansPro-It.woff') format('woff'),
  url('../fonts/SourceSansPro-It.ttf')  format('truetype'),
  url('../fonts/SourceSansPro-It.svg#SourceSansPro-It') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-SemiboldIt';
  src: url('../fonts/SourceSansPro-SemiboldIt.eot?#iefix');
  src: url('../fonts/SourceSansPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceSansPro-SemiboldIt.woff') format('woff'),
  url('../fonts/SourceSansPro-SemiboldIt.ttf')  format('truetype'),
  url('../fonts/SourceSansPro-SemiboldIt.svg#SourceSansPro-SemiboldIt') format('svg');
  font-weight: normal;
  font-style: normal;
}




